.container {
  /* temporary make it transparent until side indicators will be implemented */
  // border: 0.125rem solid #d2d1d4;
  // background-color: #fff;
  margin: 1rem;
  margin-left: 0;
  width: 20rem;
}
