:global .side-menu {
  :global .item-title {
    font-family: 'Open Sans';
    font-weight: 600;
  }
  :global .sidebar-submenu {
    font-family: 'Open Sans';
    font-weight: 400;
  }
}
.logo {
  margin-bottom: 3em;
  width: 9.2rem;
}
