.tableContainer {
  flex: 1;
  margin: 1em;
  background-color: #ffffff;
  border: 2px solid #e7e7e7;
}
.filterTextInput {
  width: 100%;
  padding: 1.5em;
}
.filterTextInput input {
  width: 100%;
}
